// Display icon only, no text
.icon
  icon(16px)
//== icon size 16px
.icon-24
  icon(24px)
//== icon size 24px
.icon-32
  icon(32px)
//== icon size 32px
.icon-48
  icon(48px)
//== icon size 48px
.icon-64
  icon(64px)
//== icon size 64px

// Display icon to left of text
.with-icon
  with-icon(16px)
//== icon size 16px
.with-icon-24
  with-icon(24px)
//== icon size 24px
.with-icon-32
  with-icon(32px)
//== icon size 32px
.with-icon-48
  with-icon(48px)
//== icon size 48px
.with-icon-64
  with-icon(64px)
//== icon size 64px

// Display icon to right of text
.with-icon-right
  background-repeat: no-repeat
  background-position: right center
  padding: 3px 20px 3px 0
// == icon size 16px