
/* line 286 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 1 : /Users/raymondke99/Sites/slideout-navigation/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 5 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 8 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 11 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 14 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 19 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 22 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 25 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 28 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 31 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */

/* line 36 : /Users/raymondke99/Sites/slideout-navigation/stylesheets/stylus/icons.styl */
.with-icon-right {
  background-repeat: no-repeat;
  background-position: right center;
  padding: 3px 20px 3px 0;
}
